{% extends 'index.html' %}
{% block contents %}
<div class="card" style="width: 18rem;">
    <img src="static/mountain1.jpg" class="card-img-top" alt="mountainreplace">
    <div class="card-body">
        <h5 class="card-title">asdfasdfasdf</h5>
        <p class="card-text">위험도 기반 등산로 추천</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">1. 등산로B: 1111</li>
        <li class="list-group-item">2. 등산로A: 22222</li>
        <li class="list-group-item">3. 등산로C: 33333</li>
    </ul>
</div>
{% endblock contents %}