<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#<font size="2em" color ="green"></font>#}
<h1><B>Contact Us</B></h1>
{#    <div class="card" style="width: 18rem;">#}
{#        <img src="static/mountain1.jpg" class="card-img-top" alt="mountainreplace">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">asdfasdfasdf</h5>#}
{#            <p class="card-text">위험도 기반 등산로 추천</p>#}
{#        </div>#}
{#        <ul class="list-group list-group-flush">#}
{#            <li class="list-group-item">1. zzzz</li>#}
{#            <li class="list-group-item">2. zzzz</li>#}
{#            <li class="list-group-item">3. zzz</li>#}
{#        </ul>#}
{#    </div>#}
</body>
</html>