<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="card" style="width: 23rem; margin-left: -1em;">
        <img src="static/mountain1.jpg" class="card-img-top" alt="mountainreplace">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center ">설악산</h5>
{#            <p class="card-text" style="align-items: center">위험도 기반 등산로 추천</p>#}
        </div>
        <ul class="list-group list-group-flush" style="align-items: center">
            <li class="list-group-item">1. 등산로B</li>
            <li class="list-group-item">2. 등산로A</li>
            <li class="list-group-item">3. 등산로C</li>
        </ul>
    </div>
</body>
</html>